<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- This is a popup url  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <!-- Popup url end  -->
  <link rel="stylesheet" href="form.css">
  <link rel="stylesheet" href="search.css">
  <script src="form.js"></script>
  <title>Colleges</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- This is Popup Styles -->
 

  <!-- Popup style End  -->

</head>

<body>
  <div>
  <div class="menu-bar">
    <ul>
      <li class="active navb" style="margin-right: 152px;"><a href="#">MBA</a></li>

    </ul>
  </div>
  <div class="container">
    <div class="row">
        <h1>Total Colleges</h1>
        <br>
     <table class="table table-striped table-primary">
      <thead>
        <tr>
          <th>Rank</th>
          <th>College Type</th>
          <th>College Name</th>
          <th>College Fee</th>
          <th>College Address</th>
          <th>State</th>
          <th>Reviews</th>
          <th>College Link</th>
          <th>Action</th>


        </tr>
      </thead>
      <tbody>
       <% if(records.length>0){
        records.forEach(function(row){
       
        %>
        <tr>
          <td><%= row.rank %></td>
          <td><%= row.cat %></td>
          <td><%= row.cname %></td>
          <td><%= row.fees %></td>
          <td><%= row.address %></td>
          <td><%= row.state %></td>
          <td><%= row.reviews %></td>
          <td><%= row.link %></td>
          <td>

            <a class="btn btn-danger btn-xs" href="/password-detaild/delete/<%= row._id %>" onclick="return confirm('Are you sure?')"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
        <!-- Modal -->
        <%    
      })} %>
      </tbody>
    </table>
  
  
  </div>
</div>
<button style="background-color: green; margin-left: 650px; margin-top: 20px; width: 250px; height: 57px; margin-bottom: 306px;"><a style="color: white;" href="/addiim">Add College</a></button>



  <div style="background: #02242b; width: 100%; text-align: center; " >
    <h2 style="color: white; padding: 20px;"><span style="font-size: 25px; color: blue;">M</span>BBS</h2>
    <img src="mbbsLogo.jpg"  width="70px" height="70px" style="border-radius: 30px;"/>
    <h4 style="color:white">Bachelor of Medicine, Bachelor of Surgery</h4>
    <h3 style="color:white">© 2023 Bachelor of Medicine, Bachelor of Surgery, India. All rights reserved</h3>
  </div>
</div>


</body>

</html>
